@import "./variables.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    background-color: $mainBackground;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    width: 70%;
    margin: auto;
    text-align: center;
    color: $white;
    background-color: $cardBackground;
    border-radius: 8px;
    @media only screen and (min-width:900px) {
        // @include flex-row;
        height: 50%;
        display: flex;
        flex-direction: row-reverse;
    }

}

.image-container {
    img {
        width: 100%;
        border-radius: 8px 8px 0 0;
    }
    @media only screen and (min-width:900px){
        flex: 1;
        img{
            height: 100%; 
            max-width: 100%;
            object-fit: cover;
            border-radius: 0 8px 8px 0;
        }
    }
}

.text-container {
    padding: 2em;
    h1 {
        font-family: $headingFont;
        font-size: 1.5em;
    }
    p {
        font-family : $bodyFont;
        margin: 1.5em 0;
        color: $mainParagraph;
        font-size: 1em;
        line-height: 1.5em;
    }
    span {
        color: $accent;
    }
    @media only screen and (min-width:900px){
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
        flex: 1;
        padding: 3em;
        h1 {
            font-size:2em;
        }
        p {
            font-size: 1em;
        }
    }
    @media only screen and (min-width: 1400px){
        p {
            font-size: 1.2em;
        }
    }
}

.three-card {
    p {
        font-size: 0.8em;
        letter-spacing: 0.1em;
        margin: 2em 0;
        color: $statHeadings;
    }
    p:last-child {
        margin-bottom: 0;
    }
    span.data {
        display: block;
        color: $white;
        font-size: 2em;
        font-family: $mainParagraph;
        font-weight: 700;
        margin-bottom: 0.4em;
    }
    @media only screen and (min-width:900px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-right: 3em; 
        p {
            font-size: 0.7em;
        }
    }
    @media only screen and (min-width: 1400px){
        span.data{
            font-size:2.5em;
        }
    }
}