@import "./variables.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    background-color: $mainBackground;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 500px 0;
}

.card-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    color: $white;
    width: 80vw;
    background-color: $cardBackground;
    border-radius: 8px;
    
}

.image-container {
    img {
        width: 100%;
        border-radius: 8px 8px 0 0;
        min-height: 100%; 
    }
}

.text-container {
    @include flex-column;
    align-items: center;
    text-align: center;
    padding: 2em;

    h1 {
        font-family: $headingFont;
        font-size: 2em;
    }
    p {
        font-size: $fontSize;
        font-family: $bodyFont;
        font-weight: 400;
        color: $mainParagraph;
        line-height: 1.6em;
        margin: 2em 0;
    }
    span.highlight {
        color: $accent;
    }
}

.three-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
        font-size: 0.8em;
        letter-spacing: 0.1em;
        margin: 1em 0;
    }
    span.data {
        display: block;
        color: $white;
        font-size: 1.7em;
        font-family: $mainParagraph;
        font-weight: 700;
        margin-bottom: 0.4em;
    }
}