@import "./variables.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    background-color: $mainBackground;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    width: 70%;
    margin: auto;
    text-align: center;
    color: $white;
    background-color: $cardBackground;
}

.image-container {
    img {
        width: 100%;
    }
}

.text-container {
    padding: 2em;
    h1 {
        font-family: $headingFont;
        font-size: 1.5em;
    }
    p {
        font-family : $bodyFont;
        margin: 1.5em 0;
        color: $mainParagraph;
        font-size: 1em;
        line-height: 1.5em;
    }
    span {
        color: $accent;
    }
}

.three-card {
    p {
        font-size: 0.8em;
        letter-spacing: 0.1em;
        margin: 2em 0;
        color: $statHeadings;
    }
    p:last-child {
        margin-bottom: 0;
    }
    span.data {
        display: block;
        color: $white;
        font-size: 2em;
        font-family: $mainParagraph;
        font-weight: 700;
        margin-bottom: 0.4em;
    }
    // @media only screen and (min-width:961px) {
    //     @include flex-row;
    // }
}