@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/* Primary Colors*/
$mainBackground: hsl(233, 47%, 7%);
$cardBackground: hsl(244, 38%, 16%);
$accent: hsl(277, 64%, 61%);

/*Secondary Colors*/
$white: hsl(0, 0%, 100%);
$mainParagraph: hsla(0, 0%, 100%, 0.75);
$statHeadings: hsla(0, 0%, 100%, 0.6);

/*Fonts*/
$fontSize: 15px;
$headingFont: "Inter", "sans-serif";
$bodyFont: 'Lexend Deca', sans-serif;
